h3{

    color: purple;
}
.fuck{
color: green;

}
div{
    background-color: green;
    color: yellow;
    height: 20px;
    width: 10px;
    margin: 10%;
    padding: 5%;
    display: inline-block;

}
